<% include header.ejs %>
<div id="content" class="span6"></div>
<div class="controls"></div>
<input id="name" style="width:350px;" class="form-control" value="<%= goodname %>" type="hidden">
<input id="field" style="width:350px;" type="text" placeholder="type message" class="form-control">
<i class="icon-search icon-white"></i><input id="send" type="button" value="send" class="btn btn-sm btn-primary">
<% include footer.ejs %>