<html>
    <head>
        <title>Node Express App - Sourav</title>
        <meta name="viewport" content="width=device-width">
        <style type="text/css"><% include styles/style.css %></style>
        <style type="text/css"><% include styles/bootstrap.min.css %></style>
        <style type="text/css"><% include styles/bootstrap-theme.min.css %></style>
        <script><% include /js/jquery.js %></script>
        <script><% include /js/bootstrap.min.js %></script>
        <script><% include /js/chat.js %></script>

    </head>
    <body>
        <div class="container">
            <header class="navbar navbar-inverse"><h1>NODE EXPRESS DEMO APP</h1></header>
            <div class="col-md-8">