<% include header.ejs %>
<div class="alert alert-success">Welcome <%= user_goodname %></div>
<a href="/editprofile/<%= username %>" class="btn btn-info">Edit Profile</a>
<a href="/logout" class="btn btn-info">Logout</a>
<% include footer.ejs %>