<% include header.ejs %>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Reading data from API</h3>
    </div>
    <div class="panel-body">
        <% jdata.forEach(function(element){ %>
        <img src="<%= element.guid %>" height="<%= img_width %>" style="float:left;border: 1px solid black;margin: 10px;"/>
        <% }); %>
    </div>
</div>
<% include footer.ejs %>