<div class="col-md-4">
    <div class="list-group">
        <a class="list-group-item active">Sidebar is here</a>
        <a class="list-group-item" href="/home">HOME</a>
        <a class="list-group-item" href="/register">REGISTER</a>
        <a class="list-group-item" href="/allusers">ALL USERS</a>
        <a class="list-group-item" href="/readjon">API DATA READ</a>
        <a class="list-group-item" href="/logout">LOGOUT</a>
        <a class="list-group-item" href="/chat">CHAT</a>
    </div>
</div>